
<div align="center" style="float:left;display:none;" id="sitelogin_popup">
  <div class="logo_popup"><%= image_tag('powerbeat-logo-blue.png') %></div>  
  <div align="right" class="sitelogin_header">
    <h1>Exclusive<br />
      Pre-Order</h1>
      <p>Please enter your passcode to proceed with your purchase</p>
  </div>
  <div class="not_invited">Not on the earlybird list? <a href="#" class="invite" id="invite_phase2">Click here</a> to signup for the updates.</div>
  <div class="login_box">
  <%= form_tag '/sitelogin', method: "post" do %>
    <%= password_field_tag :site_password, "", :required => true, :placeholder => 'Enter passcode here' %>
    <div>
      <%= submit_tag 'Submit', :class=> "btn primary" %>
    </div>
  <% end %>
  </div>
</div>

<script>
jQuery( document ).ready(function($) {

  $.fancybox({
        'padding': 0,
        'margin': 4,
        'type': 'inline',
        'href': '#sitelogin_popup',
        'width': '720px',
        'height': '410px',
        'centerOnScroll': true,
        'autoDimensions': true,
        'modal': true
    });
  $('.fancybox-type-inline').css('z-index','10000');
  $("#invite_phase2").click(function(event){
    event.preventDefault();
    $.fancybox.close();
    $.fancybox({
        'type': 'iframe',
        'href': '/newsletter',
        'width': '720px',
        'modal': true
    });
    
    $('.fancybox-type-iframe').css('z-index','10000');
  });


});

</script>