<footer id="footer" class="sixteen columns " data-hook>
 <div class="container">
    <div class=" col-xs-12 col-md-12 col-sm-12">
    <div class="footer-wrper">
    <div class="col-md-6 col-sm-6">
    
   <form class="form-inline" role="form">
    <div class="form-group">
      <label class="footer-title" for="email">NEWSLETTER SIGN-UP </label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    
    
    
  </form>
    </div>
    <div class="col-md-6 col-sm-6">
      
        <h3 class="footer-title-2">BE SOCIAL. JOIN US</h3>
                            
    <div class="social">
    <ul>
        <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-lg  fa-instagram"></i></a></li>
        
        <li><a href="#"><i class="fa fa-lg fa-youtube-play"></i></a></li>
    </ul>
</div>    
    
   
    </div>
    </div>
   </div>
   </div>
   <div class="clear"> </div>
   
   
   <div class="container">
   <div class="footer-navi-bar">
   <ul>
   <li><a href="#">Benefits </a>|</li>
   <li><a href="#">Technology</a>|</li>
   <li><a href="#">Gallery</a>|</li>
   <li><a href="#">About</a>|</li>
   <li><a href="#">Partners</a>|</li>
   <li><a href="#">PRESS </a>|</li>
   <li><a href="#">FAQ</a>|</li>
   <li><a href="#">Contact</a></li>
   
   </ul>
   ]<div class="clear"> </div>
   </div>
   <div class="clear"> </div>


</footer> 