<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "spree/fancy/logo-white.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:18772138399"><b>1-877-213-8399</b></a>
        </div>
      <div class="email">
        <a href="mailto:support@watteam.com">support@watteam.com</a>
      </div>
      <div class="address">
        <b>WATTEAM Headquarters</b>
        <br>
        Suite 111
		<br>
		17780 Fitch Avenue
		<br>
		Irvine, CA 92604
		<br>
		USA
      </div>
    </div>
    
    <div class="four columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="http://watteam.com/news-watteam/" target="_blank">Watteam news</a></li>
        <li><a href="http://watteam.com/technology/" target="_blank">Technology</a></li>
        <li><a href="http://watteam.com/benefits/" target="_blank">Benefits</a></li>
        <li><a href="http://watteam.com/support/" target="_blank">Support</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="http://watteam.com/about/" target="_blank">About</a></li>
        <li><a href="http://watteam.com/meet-the-team/" target="_blank">Meet the Team</a></li>
        <li><a href="http://watteam.com/partners/" target="_blank">Partners</a></li>
		<li><a href="http://watteam.com/contact/" target="_blank">Contact</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Important info</h5>
      <p>
Based in California, with all R&D performed in Israel, Watteam is made by cyclists, for cyclists.
      </p>
    </div>
    
  </div>
</footer>
